<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf!</title>
</head>
<body>

<div id="app">
    <!-- REACTJS Client Side renders here -->
</div>
<div th:utext="${serverSideReact}">
    <!-- REACTJS Server Side renders here -->
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="/js/component.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>